page-suggestions {
    .input_textarea {
        border: 2px solid #C7C9CA;
        // border:0;
        border-radius: 5px;
        height: 15em;
        white-space: normal;
        padding: 10px;
    }
}